<html>

<head>
  <meta name="theme-color" content="#141414">
  <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <title>DevOpsCore Assembly Lines</title>
</head>

<body>
  <div id="meetup">
    <p id="text" class="bounceInUp fadeOut">DevOpsCore Assembly Lines</p>
  </div>
</body>
<script src="js/tetris.js"></script>
</html>